@{
    Layout = "_LayoutMobile";
}

<div id="caGraphChartPanel" style="min-height:100%;min-height:100%"></div>

@section Scripts{
    <script src="~/lib/chart.js/dist/chart.min.js"></script>
    <script src="~/js/domain/tumorMarker.js"></script>
    <script src="~/js/domain/patientCaseTumorMarker.js"></script>
    <script src="~/js/domain/patientCase.js"></script>
    <script src="~/js/service/patientCaseTumorMarkerService.js"></script>
    <script src="~/js/components/Panel.js"></script>
    <script src="~/js/components/CAGraphChartPanel.js"></script>
    <script src="~/js/mobile/views/CAGraph/index.js"></script>
}