<div data-options="region:'north',split:false" style="height:30px">
    <div>
        <table id="tablePatientInfo">
            <tr>
                <td style="width:200px">Patient:<label id="lblPatientName"></label></td>
                <td style="width:200px">Age:<label id="lblAge"></label></td>
                <td style="width:200px">MRN:<label id="lblMRN"></label></td>
                <td style="width:400px">Allergies:<label id="lblAllergies"></label></td>
                <td><label id="toggerPatientInfo" class="spinner-arrow-down" style="width: 18px; height: 10px;"></label></td>
            </tr>
            <tr>
                <td>Attending:<label id="lblAttending"></label></td>
                <td>DOB:<label id="lblDOB"></label></td>
                <td>Medicate#:<label id="lblMedicare"></label></td>
                <td>Address:<label id="lblAddress"></label></td>
            </tr>
            <tr>
                <td>Consultant:<label id="lblConsultant"></label></td>
                <td>Sex:<label id="lblGender"></label></td>
                <td>Attmitted:<label id="lblAdmitted"></label></td>
                <td>Location:<label id="lblLocation"></label></td>
            </tr>
        </table>
    </div>
</div>
<div data-options="region:'west',title:'Workflow',collapsible:false" style="width:300px;">
    <div id="leftSideMenu"></div>
</div>
<div data-options="region:'center'" style="padding:5px;background:#eee;">
    <iframe id="myContainer" height="99%" width="100%" scrolling="auto" frameborder="0" style="background-color:white"></iframe>
</div>

@section Scripts{
    <script src="~/lib/microsoft/signalr/dist/browser/signalr.min.js"></script>
    <script src="~/js/hub/connectionHub.js"></script>
    <script src="~/js/domain/user.js"></script>
    <script src="~/js/domain/patient.js"></script>
    <script src="~/js/domain/doctor.js"></script>
    <script src="~/js/domain/allergy.js"></script>
    <script src="~/js/domain/patientAllergy.js"></script>
    <script src="~/js/domain/patientCase.js"></script>
    
    <script src="~/js/service/patientService.js"></script>
    <script src="~/js/service/patientCaseService.js"></script>
    <script src="~/js/service/doctorService.js"></script>
    <script src="~/js/patientcase/index.js"></script>
}


