<div data-options="region:'north',split:false,collapsible:true,title:'patient information'" style="height:65px">
    <div>
        <table>
            <tr>
                <td style="width:200px">Patient:<label id="lblPatientName"></label></td>
                <td style="width:200px">Age:<label id="lblAge"></label></td>
                <td style="width:200px">MRN:64002090</td>
                <td style="width:200px">Allergies:<label id="lblAllergies"></label></td>
            </tr>
        </table>
    </div>
</div>
<div data-options="region:'west',title:'Workflow',collapsible:false" style="width:300px;">
    <div id="leftSideMenu"></div>
</div>
<div data-options="region:'center'" style="padding:5px;background:#eee;">
    <iframe id="myContainer" height="99%" width="100%" scrolling="auto" frameborder="0" style="background-color:white"></iframe>
</div>

@section Scripts{
    <script src="~/js/domain/user.js"></script>
    <script src="~/js/domain/patient.js"></script>
    <script src="~/js/domain/patientCase.js"></script>
    <script src="~/js/service/patientService.js"></script>
    <script src="~/js/service/patientCaseService.js"></script>
    <script src="~/js/patientcase/index.js"></script>
}


