<h3>Frequently Asked Questions</h3>
<div>
    <input type="text" id="txtFrequentlyAskedQuestion" style="width:80%;"/>
</div>
<div>
    <table id="optionGrid">
        <thead>
            <tr>
                <th>
                    TreatmentMethod
                </th>
                <th>
                    TreatmentOption
                </th>
            </tr>
        </thead>
        <tbody></tbody>
    </table>
</div>


@section Scripts{
    <script src="~/js/components/ehrGrid.js"></script>
    <script src="~/js/domain/treatmentOption.js"></script>
    <script src="~/js/domain/treatmentMethod.js"></script>
    <script src="~/js/domain/frequentlyAskedQuestion.js"></script>
    <script src="~/js/service/frequentlyAskedQuestionService.js"></script>
    <script src="~/js/service/treatmentMethodService.js"></script>
    <script src="~/js/service/treatmentOptionService.js"></script>
    <script src="~/js/optionTalk/index.js"></script>
}