@{ 
    
}
<div id="pnlCAGraph"></div>

@section Scripts{
    <script src="~/lib/chart.js/dist/chart.min.js"></script>
    <script src="~/lib/jspdf/dist/jspdf.min.js"></script>
    <script src="~/js/utils/Utils.js"></script>
    <script src="~/js/domain/tumorMarker.js"></script>
    <script src="~/js/domain/patientCase.js"></script>
    <script src="~/js/domain/patientCaseTumorMarker.js"></script>
    <script src="~/js/components/Panel.js"></script>
    <script src="~/js/components/CAGraphChartPanel.js"></script>
    <script src="~/js/service/patientCaseService.js"></script>
    <script src="~/js/service/patientCaseTumorMarkerService.js"></script>
    <script src="~/js/pathology/caGraph.js"></script>
}
