<div style="margin-top:2px">
    <button id="btnShowPnlCAGraph">CAGraph</button>
    <button id="btnShowPnlFlowsheet">Flowsheet</button>
    <button id="btnShowPnlCEAGraph">CEAGraph</button>
    <button id="btnShowPnlReports">Reports</button>
    <button id="btnShowPnlPathologySharedNotes">Pathology Shared Notes</button>
</div>
<div id="panelContainer" style="display:flex;height:100%;width:1050px;flex-flow:wrap;flex:1;overflow:auto">
    <div id="pnlCAGraph"></div>
    <div id="pnlFlowsheet"></div>
    <div id="pnlCEAGraph"></div>
    <div id="pnlReports"></div>
    <div id="pnlPathologySharedNotes"></div>
</div>



@section Scripts{
    <script src="~/lib/ckeditor/ckeditor.js"></script>
    <script src="~/lib/chart.js/dist/chart.min.js"></script>
    <script src="~/js/domain/patientCaseTumorMarker.js"></script>
    <script src="~/js/domain/tumorMarker.js"></script>
    <script src="~/js/domain/pathologyTumorMarker.js"></script>
    <script src="~/js/components/Panel.js"></script>
    <script src="~/js/components/CAGraphChartPanel.js"></script>
    <script src="~/js/components/FlowsheetGridPanel.js"></script>
    <script src="~/js/components/CEAGraphChartPanel.js"></script>
    <script src="~/js/components/ReportPanel.js"></script>
    <script src="~/js/components/PathologySharedNotesPanel.js"></script>
    <script src="~/js/service/pathologyService.js"></script>
    <script src="~/js/pathology/index.js"></script>
}
