<div>
    <button id="btnShowCareOption1Panel">Care Options 1</button>
    <button id="btnShowCareOption2Panel">Care Options 2</button>
    <button id="btnShowCareOption3Panel">Care Options 3</button>
    <button id="btnShowCareOption4Panel">Care Options 4</button>
</div>
<div id="panelContainer" style="display: flex; height: 100%; width: 1050px; flex-flow: wrap; flex: 1; overflow: auto">
    <div id="careOption1Panel"></div>
    <div id="careOption2Panel"></div>
    <div id="careOption3Panel"></div>
    <div id="careOption4Panel"></div>
</div>

@section Scripts{
    <script src="~/js/components/Panel.js"></script>
    <script src="~/js/decisionTalk/index.js"></script>
}