<div style="margin-top:2px">
    <button id="btnShowChiefComplaintHistoriesPanel">Show ChiefComplaintHistories</button>
</div>
<div id="panelContainer" style="display:flex;height:100%;width:1050px;flex-flow:wrap;flex:1;overflow:auto">
    <div id="chiefComplaintHistoriesPanel"></div>
</div>

@section Scripts{
    <script src="~/js/utils/Utils.js"></script>
    <script src="~/js/domain/chiefComplaintHistories.js"></script>
    <script src="~/js/service/chiefComplaintHistoriesService.js"></script>
    <script src="~/js/components/Panel.js"></script>
    <script src="~/lib/ckeditor/ckeditor.js"></script>
    <script src="~/js/components/ChiefComplaintHistoriesPanel.js"></script>
    <script src="~/js/chiefComplaintHistories/index.js"></script>
}