<h1>Select Pertinent Information for Team Talk</h1>
<table>
    <tr>
        <td>
            Available Health Information:
        </td>
        <td></td>
        <td>
            Selected Health Information
        </td>
    </tr>
    <tr>
        <td>
            <ul id="availableHealthInformationTree"></ul>
        </td>
        <td>
            <button type="button" style="margin-bottom:5px">Add -></button>
            <button type="button" style="margin-bottom:20px"><- Remove</button>
            <button type="button" style="margin-bottom:5px">Add All</button>
            <button type="button" style="margin-bottom:5px">RemoveAll</button>
        </td>
        <td>
            <ul id="selectedHealthInformationList"></ul>
        </td>
    </tr>
</table>
<div id="availableHealthInformationPanel">
    <h4>Available Health Information:</h4>
    
</div>
<div>

</div>